h1 {
    color: rgb(255, 255, 255);
}

/*
* {
    border: solid;
}
*/

.menu {
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
}

.submenu {
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.submenu2 {
    display : flex;
    justify-content:center ;
}

.item {
    display : flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer {
    display : flex;
    justify-content: last baseline; 
}

p,h2{
    text-align:center;
}